:root {
  --color-violet: #262250;
  --color-blue-primary: #4270ec;
  --color-white: white;
  --color-light-gray: #fbece8;
  --linear-bg: linear-gradient(
    40deg,
    rgba(65, 82, 205, 1) 0%,
    rgba(203, 63, 183, 1) 35%,
    rgba(250, 192, 120, 1) 100%
  );
  --box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  --radius: 1.5rem;
  --transition: all 400ms ease;
  --container-width-lg: 75%;
  --container-width-md: 80%;
  --container-width-sm: 90%;
}

.MemberCard_base {
    /* box-shadow: var(--box-shadow); */
    border-radius: var(--radius);
    border: 1px solid var(--color-blue-primary);
    padding: 2rem 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 80%;
  }
  .MemberCard_base img {
    border-radius: var(--radius);
    object-fit: cover;
    display: block;
    width: 70%;
   
  }
  
  .MemberCard_base h2 {
    margin: 0.5rem 0;
  }

  @media screen and (max-width: 375px) {
    
  }
  